@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes fadeInFromLeft {
    0% {
        opacity: 0; /* Invisible */
        transform: translateX(-50px); /* Move text 50px left */
    }
    100% {
        opacity: 1; /* Fully visible */
        transform: translateX(0); /* Original position */
    }
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

.bg-layout{
    height: 650px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-zindex{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.bronze-line{
    width: 100%;
    border: 7px solid;
    border-image: linear-gradient(
    135deg,
    rgba(144, 107, 55, .9),
    rgba(181, 133, 70, .9) 50%
  ) 1; 
}

.antic-didone-regular {
    all: unset;
    font-size: 80px;
}

.add-res-btn{
    all: unset;
    display: inline-block;
    margin-top: 50px;
    font-size: 34px;
    background-color: transparent;
    border-radius: 7px;
    padding: 10px 40px;
    box-shadow: 0px 0px 0px 1px ;
    cursor: pointer;
}

.sh-des{
    padding-left: 105px;
    padding-top: 210px;
    width: 700px;
    font-family: "Antic Didone", serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    z-index: 2;
    opacity: 0;
    animation: fadeInFromLeft .5s ease-out forwards;
}

.rest-cont{
    width: 100%;
    padding: 80px 350px;
}

.popup {
    position: fixed;
    top: 100px;
    left: 850px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0px 0px 2px rgba(144, 107, 55, 1);
    z-index: 1003;
    animation: fadeInFromTop .5s ease-out forwards;
}